<?php

defined('BASE_PATH') || define('BASE_PATH', getenv('BASE_PATH') ?: realpath(dirname(__FILE__) . '/../..'));
defined('APP_PATH') || define('APP_PATH', BASE_PATH . '/app');

return new \Phalcon\Config([
    'version' => '1.0',

    'database' => [
        'adapter'  => 'Mysql',
        'host'     => 'host',
        'username' => 'username',
        'password' => 'password',
        'dbname'   => 'dbname',
        'charset'  => 'utf8',
    ],

    'application' => [
        'appDir'         => APP_PATH . '/',
        'libraryDir'     => APP_PATH . '/common/library/',
        'modelsDir'      => APP_PATH . '/common/models/',
        'migrationsDir'  => APP_PATH . '/migrations/',
        'cacheDir'       => BASE_PATH . '/cache/',
        'logsDir'        => BASE_PATH . '/logs/',
        'downloadDir'    => BASE_PATH . '/public/files/',
        'baseUri'        => '/',
    ],

    'printNewLine' => true
]);
